@keyframes float {

    0%,
    100% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-20px) rotate(5deg);
    }
}

@keyframes grid-flow {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

.animate-grid-flow {
    animation: grid-flow 20s linear infinite;
    background-size: 200% 200%;
}